.tile{
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);;
    padding: 2vh;
    border-radius: 10px;
    display:flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 2vh;
    font-weight: bold;
    transition-duration: 200ms;
    position: relative;
    width:10rem;
    height: 15rem;
}
.resume{
    height: 15rem;
    overflow-y: scroll;
}
.resume::-webkit-scrollbar { width: 0 !important }
.img{
    height: 15rem;
    width: 10rem;
    object-fit:contain;
}
.tile:hover{
    background-color: rgba(255, 255, 255, 0.356);
    backdrop-filter: blur(5px);;
    padding: 2.5vh;
    margin:1.5vh;
}
.text{
    height: 30rem;
    width: 25rem;
    margin: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-content: space-around;
}
.text::-webkit-scrollbar { width: 0 !important }
.icon{
 
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    align-self: center;

  
}
.icon:hover{
    opacity: 0.5;
}
.close{
    width: 1.5rem;
    height: 1.5rem; 
    cursor: pointer;
}
.close:hover{
    opacity: 0.5;
}
