.carrousel{
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-size: 0.8rem !important;
    max-height: 35rem;
    height: 19rem;

}
.window{
    padding-top: 10vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column wrap;
}

.title{
    color:white;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;    
    font-weight: 300;}

#news{
    background-color: transparent;
    width: 100vw;
    overflow-x: scroll;
    
}
#rated{
    background-color: transparent;
    width: 100vw;
    overflow-x: scroll;
}
#news::-webkit-scrollbar { width: 0 !important }
#rated::-webkit-scrollbar { width: 0 !important }


