.App {
  text-align: center;
  background-color: black;
background-attachment: fixed;
background-size: cover;
font-family: 'Montserrat', sans-serif;

}
body::-webkit-scrollbar { width: 0 !important }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  height:50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.content{
  align-self: center;
  justify-self: center;
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  align-content:space-around;
  justify-content: space-around;

}
.input{
  background-color:  transparent;
  border-radius: 40px;
  border: solid white 3px;
  padding: 10px;
  font-size: 2rem;
  color: white;
  outline: none;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;

}
.buttonSearch{
  color: blue;
  background-color: white;
  outline: none;
  border: none;
  padding: 10px;

  border-radius: 40px;
  font-weight: bold;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  
}