.App {
text-align: center;
background-color: #000000;
background-image: linear-gradient(135deg, #000000 0%, #575c6f 71%, #fdfdfd 100%);
background-attachment: fixed;
background-size: cover;
font-family: 'Roboto', sans-serif;
font-weight: 200 ;

}
body::-webkit-scrollbar { width: 0 !important }

.logoHead{
  widows: 12rem;
  height: 12rem;
  pointer-events: none;
  justify-self: center;
  align-self: center;
  padding-bottom: 5vh

 
}

.header{
  height:50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.content{
  align-self: center;
  justify-self: center;
  width: 100vw;
  display: flex;
  flex-flow:row wrap;
  align-content: space-around;
  justify-content: space-evenly;

}
.inputBox{
  background-color:  transparent;
  border-radius: 40px;
  border: solid white 2px;
  
  font-size: 2rem;
  color: white;
  outline: none;
  padding:10px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition-duration: 200ms;
  width: 50vw;

  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  

}
.input{
  font-size: 2rem;
  background-color: transparent;
  border:none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  
  width:40vw;
}
#iconMag{
  align-self: center;
  
}
.buttonSearch{
  color: grey;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px); 
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 40px;
  font-weight: bold;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  transition-duration: 300ms;
  
}
.buttonSearch:hover{
  color:white
}

@media only screen and (max-width: 600px) {
  .inputBox{
    width: 80vw;
  }
}